<form class="add-recipe">
    <div class="title">
        <label for="recipe_title">Recipe Title:</label>
        <input type="text" id="recipeTitle" />
    </div>

    <div class="desc">
        <label for="recipe_description">Recipe Description:</label>
        <input type="text" id="recipeDescrip" />
    </div>

    <div class="ingred">
        <label for="recipe_ingredients">Ingredients:</label>
        <input type="text" id="recipeIngred" />
    </div>

    <div class="instruct">
        <label for="recipe_instructions">Instructions:</label>
        <input type="text" id="recipeInstruct" />
    </div>

    <div class="category">
        <label for="recipe_category">Choose Category:</label>
        <select name="category" id="category">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="appetizer">Appetizer</option>
        </select>
    </div>

    <div class="diet">
        <label for="diet_restrict">Select All That Apply:</label><br>
        <input type="radio" id="none" name="diet_restrict" value="None">
        <label for="none">None</label><br>
        <input type="radio" id="vegetarian" name="diet_restrict" value="Vegetarian">
        <label for="vegetarian">Vegetarian</label><br>
        <input type="radio" id="vegan" name="diet_restrict" value="Vegan">
        <label for="none">Vegan</label><br>
        <input type="radio" id="peskitarian" name="diet_restrict" value="Peskitarian">
        <label for="vegetarian">Peskitarian</label><br>
        <input type="radio" id="glutenfree" name="diet_restrict" value="Gluten Free">
        <label for="glutenfree">Gluten Free</label><br>
        <input type="radio" id="dairyfree" name="diet_restrict" value="Dairy Free">
        <label for="dairyfree">Dairy Free</label><br>
        <input type="radio" id="shellfishfree" name="diet_restrict" value="Shellfish Free">
        <label for="shellfishfree">Shellfish Free</label><br>
        <input type="radio" id="kosher" name="diet_restrict" value="Kosher">
        <label for="kosher">Kosher</label><br>
    </div>
</form>


    