*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(caffe.jpg);
    background-position: center;
    background-size: cover;
}

.sidebar{
    background: rgb(127, 143, 177);
    color: white;
    width: 200px;
    height: 100vh;
   
}


.sidebar .header{
    background-color: rgb(84, 80, 80);
    padding: 20px 30px;
}

.sidebar .body{
    margin: 20px;
    
    line-height: 3;
    font-size: 1.5rem;
    
}

.body ul li{
    list-style: none;
    font-weight: bold;
   
}

.body ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 50px;
    transition: all 1s;  
}

.body ul li a:hover{
    background-color: rgb(148, 92, 200);
    translate: 10px 30px;
}


.sidebar .footer{
    padding: 0px 50px;
    
}

.footer button{
    background-color: rgb(95, 95, 211);
    width: 90px;
    height: 40px;
    border-radius: 9px;
    border: none;
    box-shadow: 10 px 20px 5px white;
    color: white;
}

.footer button:hover{
    background-color: blue;
    color: white;
    
}

#main-li ul{
    display: none;
    margin-bottom: 20px;
    padding-left: 20px;
   
    transition: all, 1ms;
    
}

#main-li:hover > ul{
    display: block;
    transition: all, 1ms;
}

