*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(restaurant.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

form{
    background-color: rgb(222, 205, 205);
   padding: 1.5rem;
   
    

}

.form-group{
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin: 8px;
    
}

form-group, input, label, button{
    padding: 5px;
}


 button{
    border-radius: 20px;
    border: none;
    background-color: rgb(89, 89, 198);
    color: white;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}

button:hover{
    background-color: rgb(89, 89, 84);
}